<div class="content" #jsDropZone>

    <div class="message intro">
        <div class="note">
            Drop BPMN diagram from your desktop or <span (click)="create()">create a new diagram</span> to get
            started.
        </div>
    </div>

    <div class="message error">
        <div class="note">
            <p>Ooops, we could not display the BPMN 2.0 diagram.</p>
        </div>
    </div>

    <div class="canvas" #canvas></div>
    <div class="io-zoom-control">
        <ul class="io-control-list">
            <li><button mat-icon-button (click)="zoomIn()"><mat-icon>zoom_in</mat-icon></button></li>
            <li><button mat-icon-button (click)="zoomOut()"><mat-icon>zoom_out</mat-icon></button></li>
            <li><button mat-icon-button (click)="resetZoom()"><mat-icon>crop_free</mat-icon></button></li>
            <li><button mat-icon-button (click)="fullScreen()">
                <mat-icon *ngIf="!isFullScreenViewActive">zoom_out_map</mat-icon>
                <mat-icon *ngIf="isFullScreenViewActive">zoom_in_map</mat-icon>
            </button></li>
        </ul>
    </div>
</div>

<div style="display: flex; justify-content: center; align-items: center; gap: 10px;">
    <button mat-raised-button color="primary" (click)="save()">Save to Browser</button>
    <button mat-raised-button (click)="toggleView()">
        <span *ngIf="this.canvasMode == 'editor'">Toggle to Viewer Mode</span>
        <span *ngIf="this.canvasMode == 'viewer'">Toggle to Editor Mode</span>
    </button>
</div>



